.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(82, 75, 75);
}

.App-link {
  color: #61dafb;
}
.App-centeredHeading{
  text-align:center;
  font-size: 84px;
  color: white;
  padding: 50px 30px 50px 30px;
  font-family: "Courier New",monospace;
  box-shadow: 0px 20px 30px -5px rgb(0, 0, 0);
  background:black;
}

.App-paddedSlideshow{
  padding: 50px 30px 5px 30px;
}
.App-body {
  background: #242424;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
